<a href="https://colab.research.google.com/github/A3x-parvez/Python_programs/blob/main/Final_python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a program in Python to find the addition & average of three float numbers.

In [ ]:
n1 = float(input("Enter number 1 :"))
n2 = float(input("Enter number 2 :"))
n3 = float(input("Enter number 3 :"))

def sum(n1,n2,n3):
    print("The sum is = ",(n1+n2+n3))

def avrg(n1,n2,n3):
    a=(n1+n2+n3)/3
    print("The Avg is = ",a)

sum(n1,n2,n3)
avrg(n1,n2,n3)

Enter number 1 :10.4
Enter number 2 :20.5
Enter number 3 :30.1
The sum is =  61.0
The Avg is =  20.333333333333332

2.Write a program in Python to find the volume of a sphere with radius  6cm.

In [ ]:
radious = float(input("Enter the radious :"))
pi = 3.14

def volume(r):
    v=(4/3)*pi*r*r*r
    print(f"The volume of the sphere is = {v}")

volume(radious)

Enter the radious :6
The volume of the sphere is = 904.3199999999998

3.Write a program in Python to find the area of a circle.

In [ ]:
rad = float(input("Enter the radious : "))
PI =22/7
def area(r):
    a = PI*r*r
    return a

print(f"The area of the circle is : {area(rad)}")

Enter the radious : 4
The area of the circle is : 50.285714285714285

4.Write a program in Python to compute simple Interest.

In [ ]:
p = float(input("Enter the principle amount : "))
r = float(input("Enter the rate of interest : "))
t = float(input("Enter the time : "))

def simple_interest():
    interest = (p*t*r)/100
    return interest

val = simple_interest()
print(f"The simple interest of Rs:{p} for {t} years with {r}% interest is = {val}")
print(f"The total amount you need to pay is = {p+val}")

Enter the principle amount : 10000
Enter the rate of interest : 10
Enter the time : 2
The simple interest of Rs:10000.0 for 2.0 years with 10.0% interest is = 2000.0
The total amount you need to pay is = 12000.0

5.Write a program in Python to swap two numbers without using third variable

In [ ]:
n1 = 10
n2 = 20

print(f"Before swap \n 1st num ={n1} & 2nd num ={n2}")

n2 , n1 = n1 , n2

print(f"After swap \n 1st num ={n1} & 2nd num ={n2}")

Before swap
 1st num =10 & 2nd num =20
After swap
 1st num =20 & 2nd num =10

6.Write a program in Python to convert any temperature from Celcius to Fahrenheit.

In [ ]:
print("    ## Welcome to the tempreature converter ##")
print("--------------------------------------------------")
while True:
    temp = input("Enter the tempreature (eg:100C or 100F / X for Exit) : ")
    temp=temp.lower()
    temp_n=temp.replace(".","")

    if temp_n.startswith("-"):
        temp_n=temp_n.replace("-","",1)

    l=len(temp_n)
    conv_temp=0


    if (temp_n[0:l-1].isdigit() and (temp_n.endswith("f") or temp_n.endswith("c")) and temp.count(".")<=1):
        print("Tempreature Convert Sucessfully.")
        if "c" in temp:
            temp_val = float(temp.replace("c",""))
            conv_temp = ((9/5)*temp_val)+32
            print(f"Ans : {temp_val}C in Fahrenheit is {conv_temp}F .\n")

        elif "f" in temp:
            temp_val = float(temp.replace("f",""))
            conv_temp = (temp_val-32)*(5/9)
            print(f"Ans : {temp_val}F in Celcious is {conv_temp}C .\n")

    elif "x" in temp:
        print("Sucessfully Exit.")
        break

    else:
        print("Enter valid input and follow the format.\n")

    ## Welcome to the tempreature converter ##
--------------------------------------------------
Enter the tempreature (eg:100C or 100F / X for Exit) : 100f
Tempreature Convert Sucessfully.
Ans : 100.0F in Celcious is 37.77777777777778C .

Enter the tempreature (eg:100C or 100F / X for Exit) : 20c
Tempreature Convert Sucessfully.
Ans : 20.0C in Fahrenheit is 68.0F .

Enter the tempreature (eg:100C or 100F / X for Exit) : 68.0f
Tempreature Convert Sucessfully.
Ans : 68.0F in Celcious is 20.0C .

Enter the tempreature (eg:100C or 100F / X for Exit) : x
Sucessfully Exit.

7.Write a program in Python to convert a given number of days into days, month, year and week.

In [ ]:
days = int(input("Enter the number of days: "))

years = days // 365
remaining_days = days % 365

months = remaining_days // 30
remaining_days %= 30

weeks = remaining_days // 7
remaining_days %= 7

print("Years:", years)
print("Months:", months)
print("Weeks:", weeks)
print("Days:", remaining_days)

Enter the number of days: 375
Years: 1
Months: 0
Weeks: 1
Days: 3

8.Write a Python Program to find the gravitational force acting between two objects.
[G=N*(m1*m2)/d^2]

In [ ]:
m1 = float(input("Enter the mass of 1st object : "))
m2 = float(input("Enter the mass of 2nd object : "))
l = float(input("Enter the distance between the objects : "))
G = 6.67*10
def g_force():
    gf = (G*m1*m2)/l**2
    return gf

print(f"The Gravitational force between this two objects is : {g_force()}N .")

Enter the mass of 1st object : 10
Enter the mass of 2nd object : 20
Enter the distance between the objects : 5
The Gravitational force between this two objects is : 533.6N .

9.Write a program in Python to find given no is Even or Odd.

In [ ]:
while True:
    num= input("Enter the number (X for Exit): ")

    if num=="x":
        print("Sucessfully Exit.")
        break
    else:
        num=float(num)
        if num%2==0:
            print(f"The number {num} is an Even number.")
        else:
            print(f"The number {num} is an Odd number.")

Enter the number (X for Exit): 12
The number 12.0 is an Even number.
Enter the number (X for Exit): 13
The number 13.0 is an Odd number.
Enter the number (X for Exit): x
Sucessfully Exit.

10.Take input from user if it is greater than 15 print two times of difference if it’s less than 15 print four times of difference.

In [ ]:
num = float(input("Enter the number : "))

if num > 15:
  difference = num - 15
  print(2 * difference)
elif num < 15:
  difference = 15 - num
  print(4 * difference)
else:
  print("The number is 15.")

Enter the number : 20
10.0

11.Write a program in Python to find largest among three numbers.

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
largest_number=0

if num1 >= num2 and num1 >= num3:
    largest_number = num1
elif num2 >= num1 and num2 >= num3:
    largest_number = num2
else:
    largest_number = num3

print("The largest number is:", largest_number)

Enter the first number: 12
Enter the second number: 34
Enter the third number: 23
The largest number is: 34.0

12.Write a program in Python to check a triangle is equilateral,scalene or isosclees..

In [ ]:
s1 = float(input("Enter the 1st side : "))
s2 = float(input("Enter the 1st side : "))
s3 = float(input("Enter the 1st side : "))

if s1 == s2 == s3:
    print("The triangle is equilateral.")
elif s1 == s2 or s1 == s3 or s2 == s3:
    print("The triangle is isosceles.")
else:
    print("The triangle is scalene.")

Enter the 1st side : 10
Enter the 1st side : 10
Enter the 1st side : 5
The triangle is isosceles.

13.Write a program in Python to check a given year is leapyear or not.

In [ ]:
year = int(input("Enter the year : "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")

Enter the year : 2004
2004 is a leap year.

14.Take marks of a student of four different subject find average depending on average find Grade(if marks >=75 i.e,’A’ or >=60 but <=75 i.e,’B’ or >=40 but <=60 i.e,’C’ or <=40 i.e,’D’).

In [ ]:
mark1 = float(input("Enter marks for subject 1: "))
mark2 = float(input("Enter marks for subject 2: "))
mark3 = float(input("Enter marks for subject 3: "))
mark4 = float(input("Enter marks for subject 4: "))

average = (mark1 + mark2 + mark3 + mark4) / 4
print("Average marks:", average)

if average >= 75:
    grade = 'A'
elif average >= 60:
    grade = 'B'
elif average >= 40:
    grade = 'C'
else:
    grade = 'D'

print("Grade:", grade)

Enter marks for subject 1: 40
Enter marks for subject 2: 60
Enter marks for subject 3: 70
Enter marks for subject 4: 50
Average marks: 55.0
Grade: C

15.Write a program in Python to implement a simple calculator

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Division by zero!"
    else:
        return x / y

while True:
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")
    print("5. Exit")

    choice = input("Enter choice(1/2/3/4/5): ")

    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter numbers only.")
            continue
    else:
        if choice =='1':
            print("Result:", add(num1, num2))
        elif choice =='2':
            print("Result:", subtract(num1, num2))
        elif choice =='3':
            print("Result:", multiply(num1, num2))
        elif choice =='4':
            print("Result:", divide(num1, num2))
        elif choice =='5':
            print("Exiting the calculator.")
            break

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice(1/2/3/4/5): 1
Enter first number: 12
Enter second number: 23
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice(1/2/3/4/5): 5
Exiting the calculator.

16.Write a program in Python to find the roots of Quadratic equation.

In [ ]:
import cmath

a = float(input('Enter a: '))
b = float(input('Enter b: '))
c = float(input('Enter c: '))

d = (b**2) - (4*a*c)

sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print(f'The solution are {sol1} and {sol2}')

Enter a: 10
Enter b: 12
Enter c: 15
The solution are (-0.6-1.0677078252031311j) and (-0.6+1.0677078252031311j)

17.Write a program in Python to print 1 to n.

In [ ]:
n = int(input("Enter the value of n: "))

for i in range(1, n + 1):
    print(i)

Enter the value of n: 5
1
2
3
4
5

18.Write a program in Python to print sum of natural number.

In [ ]:
num = int(input("Enter the value of n: "))
sum = 0

for i in range(1, num + 1):
    sum += i

print("The sum of natural numbers from 1 to", num, "is:", sum)

Enter the value of n: 10
The sum of natural numbers from 1 to 10 is: 55

19.Write a program in Python to print Sum of Digit.

In [ ]:
num = int(input("Enter a number: "))
sum_of_digits = 0

while num > 0:
    digit = num % 10
    sum_of_digits += digit
    num //= 10

print("The sum of digits is:", sum_of_digits)

Enter a number: 123
The sum of digits is: 6

20.Write a program in Python to print Factors of a Number.

In [ ]:
num = int(input("Enter a number: "))

print("Factors of", num, "are:")
for i in range(1, num + 1):
    if num % i == 0:
        print(i)

Enter a number: 10
Factors of 10 are:
1
2
5
10

21.Write a program in Python to print Reverse of a Number.

In [ ]:
num = int(input("Enter a number: "))
rev_num = 0
while num > 0:
    digit = num % 10
    rev_num=rev_num*10+digit
    num //= 10

print("The Reverse number is = ",rev_num)

Enter a number: 1234
The Reverse number is =  4321

22.Write a Python program to find Factorial of a given number.

In [ ]:
num = int(input("Enter the value of n: "))
fact = 1

for i in range(1, num + 1):
    fact *= i

print("The factorial of the number", num, "is:", fact)

Enter the value of n: 5
The factorial of the number 5 is: 120

23.Write a Python program to check a number is palindrome or not.

In [ ]:
num = int(input("Enter a number: "))
temp = num
rev_num = 0

while num > 0:
    digit = num % 10
    rev_num = rev_num * 10 + digit
    num =num//10

if temp == rev_num:
    print(temp, "is a palindrome number.")
else:
    print(temp, "is not a palindrome number.")

Enter a number: 141
141 is a palindrome number.

24.Write a Python program to check a number is prime or not.

In [ ]:
def is_prime(num):
  if num <= 1:
    return False
  if num <= 3:
    return True
  if num % 2 == 0 or num % 3 == 0:
    return False
  i = 5
  while i * i <= num:
    if num % i == 0 or num % (i + 2) == 0:
      return False
    i += 6
  return True

# Get input from the user
num = int(input("Enter a number: "))

# Check if the number is prime and print the result
if is_prime(num):
  print(num, "is a prime number.")
else:
  print(num, "is not a prime number.")

Enter a number: 5
5 is a prime number.

25.Write a Python program to check a number is Armstrong or not.

In [ ]:
num = int(input("Enter a number: "))
sum = 0
temp = num
order = len(str(num))

while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

26.Write a Python program to print Fibonacci series of n term

In [ ]:
# Get input for the number of terms
nterms = int(input("Enter range : "))

# First two terms
n1, n2 = 0, 1
count = 0

# Check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

Enter range : 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

27.Write a Python program to implement multiplication table.

In [ ]:
num = int(input("Enter the number for the multiplication table: "))

for i in range(1,11):
    result = num * i
    print(f"{num} * {i} = {result}")

Enter the number for the multiplication table: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

28.Write a Python program to take a input from user in a list and print it.

In [ ]:
user=input("Enter the list of transaction : ").split(" ")
lst=[x for x in user]
for i in lst:
  print(i)

Enter the list of transaction : 12 13 14 15 16
12
13
14
15
16

29.Write a Python program to find the average of n numbers using list.

In [ ]:
user=input("Enter the list of transaction : ").split(" ")
lst=[float(x) for x in user]
length=len(lst)
sum=0
for i in lst:
  sum=sum+i

avg=sum/length
print("The average of the list is : ",avg)

Enter the list of transaction : 1 2 3 4 5 6 7 8 9
The average of the list is :  5.0

30.Write a Python program to find the largest element in the list.

In [ ]:
user=input("Enter the list of transaction : ").split(" ")
lst=[float(x) for x in user]
largest=lst[0]
for i in lst:
  if i>largest:
    largest=i
print("The largest element in the list is : ",largest)

Enter the list of transaction : 1 2 3 1 1 4 0 2
The largest element in the list is :  4.0

31.Write a Python program to perform Linear search.

In [ ]:
user=input("Enter the list of transaction : ").split(" ")
lst=[float(x) for x in user]
search = float(input("Enter the number to search : "))
for i in range(len(lst)):
    if lst[i] == search:
        print(f"{search} found at {i+1} position.")
        break
else:
    print(f"{search} not found in the list")

Enter the list of transaction : 1 2 3 4 5 6 7 8
Enter the number to search : 4
4.0 found at 4 position.

32.Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.

In [ ]:
lines = []

while True:
    line = input("Enter a line (leave empty to finish): ")
    if not line:
        break
    lines.append(line)

print("Capitalized lines:")
for line in lines:
    print(line.upper())

Enter a line (leave empty to finish): Hello world
Enter a line (leave empty to finish): Practice makes perfect
Enter a line (leave empty to finish): Then, the output should be:
Enter a line (leave empty to finish): HELLO WORLD
Enter a line (leave empty to finish): PRACTICE MAKES PERFECT
Enter a line (leave empty to finish):
Capitalized lines:
HELLO WORLD
PRACTICE MAKES PERFECT
THEN, THE OUTPUT SHOULD BE:
HELLO WORLD
PRACTICE MAKES PERFECT

33.Write a program which accepts a sequence of comma‐separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98

Then, the output should be:

['34', '67', '55', '33', '12', '98']

('34', '67', '55', '33', '12', '98')

In [ ]:
numbers_string = input("Enter comma-separated numbers: ")

# Split the string into a list
number_list = numbers_string.split(',')

# Convert the list to a tuple
number_tuple = tuple(number_list)

# Print the list and tuple
print(number_list)
print(number_tuple)

Enter comma-separated numbers: 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:

D 100

W 200

D means deposit while W means withdrawal.

Suppose the following input is supplied to the program:

D 300

D 300

W 200

D 100

Then, the output should be:
500

In [ ]:
print("Enter the list of transaction : ")
user=input("Enter the list of transaction : ").split(",")
s=[x for x in user]
bal=0
for i in s:
    if "D" in i :
        i=i.replace("D","")
        i=float(i)
        bal=bal+i
    elif "W" in i:
         i=i.replace("W","")
         i=float(i)
         bal=bal-i
    else:
        pass

print(f"Total balance is : {bal}")

Enter the list of transaction :
Enter the list of transaction : D 300 ,D 300 ,W 200 ,D 100
Total balance is : 500.0